{% extends 'details.html' %}
{% load staticfiles %}
{% block title %}<title>常见问题/悠悠蜗</title>{% endblock %}
{% block crumbs %}
    <div id="Title"><div class="w-1180">悠悠蜗-常见问题</div></div>
    <!-- /Title -->
{% endblock %}
{% block content %}
    <div id="Contene" class="bg-fafafa UsWra">
        <div class="Us w-1180">
                 <section>
                  <div class="Problem">
                             <div class="ask clearFix">
                                  <span class="f-l">问：</span>
                                  <p class="f-l">住宿是和同行的人分一个房间还是团内随意分配？</p>
                             </div>
                             <div class="answer clearFix">
                                  <span class="f-l">蜗蜗答：</span>
                                  <p class="f-l">如果您与家人或朋友一起出行，可以要求入住一个房间。如果您是单人出行，可以与团里同性别的团友拼房。若未能拼房或者您需要单人入住，则需要补偿一个房间的差价，因为团费是按2人入住意见房间来核算的。</p>
                             </div>
                       </div>
                       <hr>
                 </section>
                 <section>
                       <div class="Problem">
                             <div class="ask clearFix">
                                  <span class="f-l">问：</span>
                                  <p class="f-l">住宿是和同行的人分一个房间还是团内随意分配？</p>
                             </div>
                             <div class="answer clearFix">
                                  <span class="f-l">蜗蜗答：</span>
                                  <p class="f-l">如果您与家人或朋友一起出行，可以要求入住一个房间。如果您是单人出行，可以与团里同性别的团友拼房。若未能拼房或者您需要单人入住，则需要补偿一个房间的差价，因为团费是按2人入住意见房间来核算的。</p>
                             </div>
                       </div>
                       <hr>
                 </section>
                 <section>
                        <div class="Problem">
                             <div class="ask clearFix">
                                  <span class="f-l">问：</span>
                                  <p class="f-l">住宿是和同行的人分一个房间还是团内随意分配？</p>
                             </div>
                             <div class="answer clearFix">
                                  <span class="f-l">蜗蜗答：</span>
                                  <p class="f-l">如果您与家人或朋友一起出行，可以要求入住一个房间。如果您是单人出行，可以与团里同性别的团友拼房。若未能拼房或者您需要单人入住，则需要补偿一个房间的差价，因为团费是按2人入住意见房间来核算的。</p>
                             </div>
                       </div>
                       <hr>
                 </section>
                 <section>
                       <div class="Problem">
                             <div class="ask clearFix">
                                  <span class="f-l">问：</span>
                                  <p class="f-l">住宿是和同行的人分一个房间还是团内随意分配？</p>
                             </div>
                             <div class="answer clearFix">
                                  <span class="f-l">蜗蜗答：</span>
                                  <p class="f-l">如果您与家人或朋友一起出行，可以要求入住一个房间。如果您是单人出行，可以与团里同性别的团友拼房。若未能拼房或者您需要单人入住，则需要补偿一个房间的差价，因为团费是按2人入住意见房间来核算的。</p>
                             </div>
                       </div>
                       <hr>
                 </section>
                 <section>
                       <div class="Problem">
                             <div class="ask clearFix">
                                  <span class="f-l">问：</span>
                                  <p class="f-l">住宿是和同行的人分一个房间还是团内随意分配？</p>
                             </div>
                             <div class="answer clearFix">
                                  <span class="f-l">蜗蜗答：</span>
                                  <p class="f-l">如果您与家人或朋友一起出行，可以要求入住一个房间。如果您是单人出行，可以与团里同性别的团友拼房。若未能拼房或者您需要单人入住，则需要补偿一个房间的差价，因为团费是按2人入住意见房间来核算的。</p>
                             </div>
                       </div>
                       <hr>
                 </section>
                 <section>
                       <div class="Problem">
                             <div class="ask clearFix">
                                  <span class="f-l">问：</span>
                                  <p class="f-l">住宿是和同行的人分一个房间还是团内随意分配？</p>
                             </div>
                             <div class="answer clearFix">
                                  <span class="f-l">蜗蜗答：</span>
                                  <p class="f-l">如果您与家人或朋友一起出行，可以要求入住一个房间。如果您是单人出行，可以与团里同性别的团友拼房。若未能拼房或者您需要单人入住，则需要补偿一个房间的差价，因为团费是按2人入住意见房间来核算的。</p>
                             </div>
                       </div>
                       <hr>
                 </section>
        </div>
    </div>
    <!-- /Contene --> 
{% endblock %}
