
{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}<title>同城精粹/悠悠蜗</title>{% endblock %}
{% block banner %}
    <!-- Swiper -->
    <div class="swiper-container header-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"> <img src="{% static 'images/identical1.jpg' %}"> </div>
            <div class="swiper-slide"> <img src="{% static 'images/identical2.jpg' %}"> </div>
            <div class="swiper-slide"> <img src="{% static 'images/identical3.jpg' %}"> </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next">
        	<img class="img1 tr-02" src="{% static 'images/banner_right.png' %}" alt="">
        	<img class="img2 tr-02" src="{% static 'images/banner_right_1.png' %}" alt="">
        </div>
        <div class="swiper-button-prev">
        	<img class="img1 tr-02" src="{% static 'images/banner_left.png' %}" alt="">
        	<img class="img2 tr-02" src="{% static 'images/banner_left_1.png' %}" alt="">
        </div>
    </div>
{% endblock %}
{% block content %}
    <div id="Contene" class="w-1180">
        <!--PC端显示-->
        <div class="List-Btn List-Btn1">
            <ul>
                <li>
                    <span>地区：</span>
                    <a class="{% if area == '' %}active{% endif %}" href="?month={{ month }}&days={{ days }}">全部</a>
                    {% for city in all_area %}
                        <a class="{% ifequal area  city.id|stringformat:"i" %}active{% endifequal %}" href="?area={{ city.id }}&month={{ month }}&days={{ days }}">{{ city.area }}</a>
                    {% endfor %}
                </li>
                <li>
                    <span>时间：</span>
                    <a class="{% if month == '' %}active{% endif %}" href="?area={{ area }}&days={{ days }}">全部</a>
                    <a class="{% if month == '1' %}active{% endif %}" href="?month=1&area={{ area }}&days={{ days }}">一月</a>
                    <a class="{% if month == '2' %}active{% endif %}" href="?month=2&area={{ area }}&days={{ days }}">二月</a>
                    <a class="{% if month == '3' %}active{% endif %}" href="?month=3&area={{ area }}&days={{ days }}">三月</a>
                    <a class="{% if month == '4' %}active{% endif %}" href="?month=4&area={{ area }}&days={{ days }}">四月</a>
                    <a class="{% if month == '5' %}active{% endif %}" href="?month=5&area={{ area }}&days={{ days }}">五月</a>
                    <a class="{% if month == '6' %}active{% endif %}" href="?month=6&area={{ area }}&days={{ days }}">六月</a>
                    <a class="{% if month == '7' %}active{% endif %}" href="?month=7&area={{ area }}&days={{ days }}">七月</a>
                    <a class="{% if month == '8' %}active{% endif %}" href="?month=8&area={{ area }}&days={{ days }}">八月</a>
                    <a class="{% if month == '9' %}active{% endif %}" href="?month=9&area={{ area }}&days={{ days }}">九月</a>
                    <a class="{% if month == '10' %}active{% endif %}" href="?month=10&area={{ area }}&days={{ days }}">十月</a>
                    <a class="{% if month == '11' %}active{% endif %}" href="?month=11&area={{ area }}&days={{ days }}">十一月</a>
                    <a class="{% if month == '12' %}active{% endif %}" href="?month=12&area={{ area }}&days={{ days }}">十二月</a>
                </li>
                <li>
                    <span>天数：</span>
                    <a class="{% if days == '' %}active{% endif %}" href="?area={{ area }}&month={{ month }}">全部</a>
                    <a class="{% if days == '1' %}active{% endif %}" href="?days=1&area={{ area }}&month={{ month }}">一天</a>
                    <a class="{% if days == '2' %}active{% endif %}" href="?days=2&area={{ area }}&month={{ month }}">二天</a>
                    <a class="{% if days == '3' %}active{% endif %}" href="?days=3&area={{ area }}&month={{ month }}">三天</a>
                    <a class="{% if days == '4' %}active{% endif %}" href="?days=4&area={{ area }}&month={{ month }}">三天以上</a>
                </li>
                <li>
                    <span>价格：</span>
                    <a class="active" href="?price">全部</a>
                    <a href=?price=0>1000以下</a>
                    <a href=?price=1000>1000-2000</a>
                    <a href=?price=2000>2000-3000</a>
                    <a href=?price=3000>3000-5000</a>
                    <a href=?price=5000>5000以上</a>
                </li>
            </ul>
        </div>
        <!--移动端显示-->
        <div class="List-Btn List-Btn2">
            <ul class="clearFix">
                <li class="f-l">
                    <span>地区：</span>
                    <select>
                        {% for city in all_area %}
                            <option value="">{{ city.area }}</option>
                        {% endfor %}}
                    </select>
                </li>
                <li class="f-l">
                    <span>时间：</span>
                    <select>
                      <option value="">全部</option>
                      <option value="">一月</option>
                      <option value="">二月</option>
                      <option value="">三月</option>
                      <option value="">四月</option>
                      <option value="">五月</option>
                      <option value="">六月</option>
                      <option value="">七月</option>
                      <option value="">八月</option>
                      <option value="">久月</option>
                      <option value="">十月</option>
                      <option value="">十一月</option>
                      <option value="">十二月</option>
                    </select>
                </li>
                <li class="f-l">
                    <span>天数：</span>
                    <select>
                      <option value="">全部</option>
                      <option value="">一天</option>
                      <option value="">二天</option>
                      <option value="">三天</option>
                      <option value="">三天以上</option>
                    </select>
                </li>
                <li class="f-l">
                    <span>价格：</span>
                    <select>
                      <option value="">全部</option>
                      <option value="">1000以下</option>
                      <option value="">1000-2000</option>
                      <option value="">2000-3000</option>
                      <option value="">3000-5000</option>
                      <option value="">5000以上</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="List-title animated1"></div>
        <div class="List-Content">
            {% for theme in all_theme.object_list %}
                <div class="Content-Div clearFix animated1">
                    <a class="f-l" href="{% url 'list_details' theme.id  %}"><img class="tr-02" src="{{ MEDIA_URL }}{{ theme.img }}" alt="旅游图片"></a>
                    <div class="txt f-r">
                        <h2 class="clearFix">
                                  <strong class="f-l">{{ theme.title }}</strong>
                                  <div class="f-r"><strong>{{ theme.days }}</strong><span>DAYS</span></div>
                        </h2>
                        <ul>
                            <li>
                                     <span>行程</span>
                                     <strong>
                                         {% for route in theme.route %}
                                             {{ route }}-
                                         {% endfor %}
                                     </strong>
                            </li>
                            <li>
                                 <span>体力</span>
                                 <i class="Bg1 active"></i>
                                 <i class="Bg1 active"></i>
                                 <i class="Bg1"></i>
                                 <i class="Bg1"></i>
                                 <i class="Bg1"></i>
                            </li>
                        </ul>
                        <p>{{ theme.describe }}</p>
                        <div class="Price clearFix">
                            <div class="f-l">
                                <sup>￥</sup>
                                <span>{{ theme.min_price }}.00-{{ theme.max_price }}.00</span>
                            </div>
                            <a class="f-r" href="{% url 'list_details' theme.id %}">
                                <i class="tr-02">→</i>
                                <span class="tr-02">查看详情</span>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
{#            #页脚#}
            <div class="page">
                <ul>
                    {% if all_theme.has_previous %}
                        <li class="page_num"><a href="?{{ all_theme.previous_page_number.querystring }}">上一页</a></li>
                    {% endif %}
                    {% for page in all_theme.pages %}
                        {% if page %}
                            {% ifequal page all_theme.number %}
                                <li class="page_num"><a class="active_page" href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% else %}
                                <li class="page_num"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% endifequal %}
                        {% else %}
                           <li>...</li>
                        {% endif %}
                    {% endfor %}
                     {% if all_theme.has_next %}
                         <li class="page_num"><a href="?{{ page_obj.next_page_number.querystring }}">上一页</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}