
{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}<title>首页/悠悠蜗</title>{% endblock %}
{% block banner %}
    <!-- Swiper -->
    <div class="swiper-container header-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"> <img src="{% static 'images/banner1.jpg' %}"> </div>
            <div class="swiper-slide"> <img src="{% static 'images/banner2.jpg' %}"> </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next">
        	<img class="img1 tr-02" src="{% static 'images/banner_right.png' %}" alt="">
        	<img class="img2 tr-02" src="{% static 'images/banner_right_1.png' %}" alt="">
        </div>
        <div class="swiper-button-prev">
        	<img class="img1 tr-02" src="{% static 'images/banner_left.png' %}" alt="">
        	<img class="img2 tr-02" src="{% static 'images/banner_left_1.png' %}" alt="">
        </div>
    </div>
{% endblock %}
{% block content %}
    <div id="Contene" class="w-1180">
        <div class="Home-A">
            <!-- Swiper -->
            <div class="swiper-container Home-A-swiper">
                <div class="swiper-wrapper">
                    {% for route in lunbotu %}
                    <div class="swiper-slide">
                        <a href="{% url 'list_details' route.id %}">
                             <div class="Hot">
                                <span>热门推荐</span>
                             </div>
                             <img style="height: 482px" src="{{ MEDIA_URL }}{{ route.img }}">
                             <div class="Txt">
                                 <div class="Top clearFix">
                                <h2 class="f-l">【年度佳选】{{ route.title }}</h2>
                                <div class="f-r">
                                    <sup>￥</sup>
                                    <span>{{ route.price }}</span>
                                    <strong>起</strong>
                                </div>
                                 </div>
                                 <p>{{ route.theme_intro }}</p>
                             </div>
                         </a>
                    </div>
                    {% endfor %}
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next">
                    <img class="img1 tr-02" src="{% static 'images/banner_right.png' %}" alt="">
                    <img class="img2 tr-02" src="{% static 'images/banner_right_1.png' %}" alt="">
                </div>
                <div class="swiper-button-prev">
                    <img class="img1 tr-02" src="{% static 'images/banner_left.png' %}" alt="">
                    <img class="img2 tr-02" src="{% static 'images/banner_left_1.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="Home-B clearFix">
            {% for route in hot_route %}
            <div class="Nei-Div">
                 <div class="Hot">
                     <span>{{ route.area }}</span>
                 </div>
                <a href="{% url 'list_details' route.uid %}" class="Photo">
                    <img style="height: 315px" src="{{ MEDIA_URL }}{{ route.img }}" alt="">
                    <!-- <div class="border-1 tr-03"></div>
                    <a class="href-1 tr-02" href="#"><img class="tr-02" src="{% static 'images/i-1.png' %}" alt=""></a> -->
                </a>
                <div class="Txt">
                    <div class="clearFix top">
                        <p class="f-l">{{ route.describe }}</p>
                        <div class="price f-r">
                            <sup>￥</sup>
                            <span>{{ route.price }}</span>
                            <strong>起</strong>
                        </div>
                    </div>
                    <div class="clearFix bottom">
                        <h3 class="f-l">{{ route.title }}</h3>
                        <a class="f-r" href="{% url 'identical_list'%}">
                            <i class="tr-02">→</i>
                            <span class="tr-02">更多精粹</span>
                        </a>

                    </div>
                </div>
            </div>
            {% endfor %}

	    </div>
        </div>
        {#页脚#}
    </div>
<!-- /Contene -->
{% endblock %}
