
{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}<title>首页/悠悠蜗</title>{% endblock %}
{% block banner %}
    <!-- Swiper -->
    <div class="swiper-container header-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"> <img src="{% static 'images/banner1.jpg' %}"> </div>
            <div class="swiper-slide"> <img src="{% static 'images/banner2.jpg' %}"> </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next">
        	<img class="img1 tr-02" src="{% static 'images/banner_right.png' %}" alt="">
        	<img class="img2 tr-02" src="{% static 'images/banner_right_1.png' %}" alt="">
        </div>
        <div class="swiper-button-prev">
        	<img class="img1 tr-02" src="{% static 'images/banner_left.png' %}" alt="">
        	<img class="img2 tr-02" src="{% static 'images/banner_left_1.png' %}" alt="">
        </div>
    </div>
{% endblock %}
{% block content %}
    <div id="Contene" class="w-1180">
        <div class="Home-A">
            <!-- Swiper -->
            <div class="swiper-container Home-A-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#">
                             <div class="Hot">
                                <span>热门推荐</span>
                             </div>
                             <img src="{% static 'images/h-banner1.jpg' %}">
                             <div class="Txt">
                                 <div class="Top clearFix">
                                <h2 class="f-l">【年度佳选】山珍海味呷好茶，大海沙滩的五星假期</h2>
                                <div class="f-r">
                                    <sup>￥</sup>
                                    <span>1399</span>
                                    <strong>起</strong>
                                </div>
                                 </div>
                                 <p>那时，洱海的风吹在你的脸上，泸沽湖的阳光洒在你的身上，新鲜的野菜嚼在你的嘴里，丽江的人潮挤在你的身边，每个善良的云南人的笑容，在你的眼前。那一个个耳熟能详的名字，会鲜亮地跳跃在你的回忆间...</p>
                             </div>
                         </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                             <div class="Hot">
                                <span>热门推荐</span>
                             </div>
                             <img src="{% static 'images/h-banner2.jpg' %}">
                             <div class="Txt">
                                 <div class="Top clearFix">
                                <h2 class="f-l">【年度佳选】22222222222222222222222</h2>
                                <div class="f-r">
                                    <sup>￥</sup>
                                    <span>1399</span>
                                    <strong>起</strong>
                                </div>
                                 </div>
                                 <p>那时，洱海的风吹在你的脸上，泸沽湖的阳光洒在你的身上，新鲜的野菜嚼在你的嘴里，丽江的人潮挤在你的身边，每个善良的云南人的笑容，在你的眼前。那一个个耳熟能详的名字，会鲜亮地跳跃在你的回忆间...</p>
                             </div>
                         </a>
                    </div>
                </div>
                <!-- Add Pagination -->
                         <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next">
                    <img class="img1 tr-02" src="{% static 'images/banner_right.png' %}" alt="">
                    <img class="img2 tr-02" src="{% static 'images/banner_right_1.png' %}" alt="">
                </div>
                <div class="swiper-button-prev">
                    <img class="img1 tr-02" src="{% static 'images/banner_left.png' %}" alt="">
                    <img class="img2 tr-02" src="{% static 'images/banner_left_1.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="Home-B clearFix">
            <div class="Nei-Div">
                     <div class="Hot">
                         <span>同城精粹</span>
                     </div>
                <a href="#" class="Photo">
                    <img src="{% static 'images/photo0.jpg' %}" alt="">
                    <!-- <div class="border-1 tr-03"></div>
                    <a class="href-1 tr-02" href="#"><img class="tr-02" src="{% static 'images/i-1.png' %}" alt=""></a> -->
                </a>
                <div class="Txt">
                    <div class="clearFix top">
                        <p class="f-l">从遗世古堡到碧水丹山的奇遇之旅</p>
                        <div class="price f-r">
                            <sup>￥</sup>
                            <span>880</span>
                            <strong>起</strong>
                        </div>
                    </div>
                    <div class="clearFix bottom">
                        <h3 class="f-l">游山玩水</h3>
                        <a class="f-r" href="#">
                                     <i class="tr-02">→</i>
                            <span class="tr-02">更多同城精粹</span>
                        </a>
                    </div>
                </div>
            </div>
             <div class="Nei-Div">
                     <div class="Hot">
                         <span>纯玩路线</span>
                     </div>
                <a href="#" class="Photo">
                    <img src="{% static 'images/photo1.jpg' %}" alt="">
                    <!-- <div class="border-1 tr-03"></div>
                    <a class="href-1 tr-02" href="#"><img class="tr-02" src="{% static 'images/i-1.png' %}" alt=""></a> -->
                </a>
                <div class="Txt">
                    <div class="clearFix top">
                        <p class="f-l">从遗世古堡到碧水丹山的奇遇之旅</p>
                        <div class="price f-r">
                            <sup>￥</sup>
                            <span>998</span>
                            <strong>起</strong>
                        </div>
                    </div>
                    <div class="clearFix bottom">
                        <h3 class="f-l">修行之旅</h3>
                        <a class="f-r" href="#">
                                     <i class="tr-02">→</i>
                            <span class="tr-02">更多纯玩路线</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="Nei-Div">
                     <div class="Hot">
                         <span>短途旅行</span>
                     </div>
                <a href="#" class="Photo">
                    <img src="{% static 'images/photo2.jpg' %}" alt="">
                    <!-- <div class="border-1 tr-03"></div>
                    <a class="href-1 tr-02" href="#"><img class="tr-02" src="{% static 'images/i-1.png' %}" alt=""></a> -->
                </a>
                <div class="Txt">
                    <div class="clearFix top">
                        <p class="f-l">从遗世古堡到碧水丹山的奇遇之旅</p>
                        <div class="price f-r">
                            <sup>￥</sup>
                            <span>360</span>
                            <strong>起</strong>
                        </div>
                    </div>
                    <div class="clearFix bottom">
                        <h3 class="f-l">放松休闲娱乐</h3>
                        <a class="f-r" href="#">
                                     <i class="tr-02">→</i>
                            <span class="tr-02">更多短途旅行</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="Nei-Div">
                     <div class="Hot">
                         <span>长途旅行</span>
                     </div>
                <a href="#" class="Photo">
                    <img src="{% static 'images/photo3.jpg' %}" alt="">
                    <!-- <div class="border-1 tr-03"></div>
                    <a class="href-1 tr-02" href="#"><img class="tr-02" src="{% static 'images/i-1.png' %}" alt=""></a> -->
                </a>
                <div class="Txt">
                    <div class="clearFix top">
                        <p class="f-l">从遗世古堡到碧水丹山的奇遇之旅</p>
                        <div class="price f-r">
                            <sup>￥</sup>
                            <span>998</span>
                            <strong>起</strong>
                        </div>
                    </div>
                    <div class="clearFix bottom">
                        <h3 class="f-l">户外运动探险</h3>
                        <a class="f-r" href="#">
                                     <i class="tr-02">→</i>
                            <span class="tr-02">更多长途旅行</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="Nei-Div">
                     <div class="Hot">
                         <span>工业旅行</span>
                     </div>
                <a href="#" class="Photo">
                    <img src="{% static 'images/photo4.jpg' %}" alt="">
                    <!-- <div class="border-1 tr-03"></div>
                    <a class="href-1 tr-02" href="#"><img class="tr-02" src="{% static 'images/i-1.png' %}" alt=""></a> -->
                </a>
                <div class="Txt">
                    <div class="clearFix top">
                        <p class="f-l">敬请期待</p>
                    </div>
                    <div class="clearFix bottom">
                        <h3 class="f-l">工业旅行</h3>
                        <a class="f-r" href="#">
                                     <i class="tr-02">→</i>
                            <span class="tr-02">更多工业旅行</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="Nei-Div">
                     <div class="Hot">
                         <span>主题旅行</span>
                     </div>
                <a href="#" class="Photo">
                    <img src="{% static 'images/photo5.jpg' %}" alt="">
                    <!-- <div class="border-1 tr-03"></div>
                    <a class="href-1 tr-02" href="#"><img class="tr-02" src="{% static 'images/i-1.png' %}" alt=""></a> -->
                </a>
                <div class="Txt">
                    <div class="clearFix top">
                        <p class="f-l">敬请期待</p>
                    </div>
                    <div class="clearFix bottom">
                        <h3 class="f-l">主题旅行</h3>
                        <a class="f-r" href="#">
                                     <i class="tr-02">→</i>
                            <span class="tr-02">更多主题旅行</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {#页脚#}
        <div class="page">
            <ul>
                <li class="page_num"><a href="#">上一页</a></li>
                <li class="page_num"><a class="active_page" href="#">1</a></li>
                <li class="page_num"><a href="#">2</a></li>
                <li>...</li>
                <li class="page_num"><a href="#">3</a></li>
                <li class="page_num"><a href="#">4</a></li>
                <li class="page_num"><a href="#">下一页</a></li>
            </ul>
        </div>
    </div>
<!-- /Contene -->
{% endblock %}
