
{% extends 'details.html' %}
{% load staticfiles %}
{% block title %}<title>加入我们/悠悠蜗</title>{% endblock %}
{% block crumbs %}
    <div id="Title"><div class="w-1180">悠悠蜗-加入我们</div></div>
    <!-- /Title -->
{% endblock %}
{% block content %}
    <div id="Contene" class="bg-fafafa UsWra">
        <div class="Us w-1180">
            <h2>悠悠蜗简介</h2>
            <dl>
                                    <dt><img src="{% static 'images/banner6.jpg' %}" alt="图片"></dt>
                                    <dd>悠悠蜗是专注于大学生旅游，致力于提供极致旅行感受的体验式社交旅行平台。悠悠蜗倡导体验交流，拒绝走马观花；悠悠蜗倡导探索分享，拒绝购物回扣；青春无界，为梦前行是我们的口号，也是指引我们事业发展的指明灯，因为悠悠蜗始终相信，每一次旅行都是一次学习进步的过程，都是为了更好的回归当下生活，所以悠悠蜗鼓励每一位出行的队员，在旅途的过程中，挖掘自我，探索自我，认知自我，回归自我。无论你们是否选择了悠悠蜗，悠悠蜗都相信，我们是同路人，都在无悔无界的青春年华里，走在追逐梦想的道路上……</dd>
                              </dl>
                              <h2>加入我们</h2>
                              <ul class="A clearFix">
                                  <li class="f-l">岗位：国内长线领队</li>
                                  <li class="f-l">工作类型：全职</li>
                                  <li class="f-l">招聘人数：3人</li>
                                  <li class="f-l">工作地点：国内及任意城市</li>
                              </ul>
            <section>
                                   <h3>岗位描述：</h3>
                                   <ul>
                                       <li>1. 全国范围内带队，辐射东南西北各省目的地，承担全团导游的工作； </li>
                                       <li>2. 行程前，根据提供的带队指南和路线背景资料，完成行前准备和交接； </li>
                                       <li>3. 行程中
                                           <ol>
                                             <li><i>•</i>有效地执行团队既定行程，确保团队的安全</li>
                                             <li><i>•</i>给到队员热情、真诚、愉悦的服务</li>
                                             <li><i>•</i>带领队员敞开心扉，去尽情体验真实美妙的目的地，在团队内部搭建交流和分享平台</li>
                                           </ol>
                                       </li>
                                       <li>4. 行程后，提交路线反馈、完成财务账款、归还物资。</li>
                                   </ul>
                              </section>
                              <section>
                                   <h3>岗位要求：</h3>
                                   <ul>
                                       <li>1. 你得有时间
                                            <ol>
                                             <li><i>•</i>一个月至少能带一条8天的路线</li>
                                             <li><i>•</i>需要你牺牲每个小长假及大长假的时间出队</li>
                                             <li><i>•</i>在旺季（6月中-8月中）的时候，能够承担至少每月两条长线则加分</li>
                                           </ol>
                                       </li>
                                       <li>2. 良好的沟通能力，快速学习能力，组织协调能力，快速应变能力；  </li>
                                       <li>3. 亲和力，服务意识，责任心，脾气好，性格外向阳光积极，讨人喜欢惹人爱；</li>
                                       <li>4. 热爱旅行，有走南闯北的自助旅行经历，是个悠悠蜗粉当然更好；</li>
                                       <li>5. 身体素质棒棒哒，是户外徒步爱好者，马拉松参与者，坚持每周健身者加分； </li>
                                       <li>6. 最后，我们痛恨神马回扣，我们坚信上车睡觉停车撒尿下车拍照的传统旅游终有一天会变成浮云。 所以，我们需要你有坚韧的信念，和我们在这条坎坷的路上并肩走下去！</li>
                                   </ul>
                              </section>
                              <section>
                                   <h3>岗位福利：</h3>
                                   <ul>
                                       <li>除了带队工资外，您还将获得：   </li>
                                       <li>1. 免费获得悠悠蜗相关周边产品； </li>
                                       <li>2. 享受领队全年意外保险； </li>
                                       <li>3. 你在一个积极、有趣、最富创意的团队工作，成为“伟大的旅行”的传播者和实践者！ </li>
                                   </ul>
                              </section>
                              <section>
                                   <h3>应聘方式</h3>
                                   <ul>
                                   <li>发送简历至<a href="mailto:admin@yooyoowo.com">admin@yooyoowo.com</a>,标题和简历名称为“国内长线领队+姓名”</li>
                                   </ul>
                              </section>
                              <hr>
        </div>
    </div>
    <!-- /Contene -->
{% endblock %}
