
{% extends 'details.html' %}
{% load staticfiles %}
{% block title %}<title>详情/悠悠蜗</title>{% endblock %}
{% block content %}
    <div id="Contene" class="w-1180">
        <div class="List-Details-Content clearFix">
            <div class="f-l">
                <ul class="Click-Btn clearFix">
                    <li class="icon f-l"><a href="{% url 'index' %}"></a></li>
                    <li class="f-l active">线路简介</li>
                    <li class="f-l">行程安排</li>
                    <li class="f-l">注意事项</li>
                    <li class="f-l">费用说明</li>
                </ul>

                <!-- 线路简介 -->
                <div class="List-Details-Div active">
                            <div class="Photo"><img src="{{ MEDIA_URL }}{{ details.img }}" alt="详情图片"></div>
                    <div class="Title clearFix">
                        <div class="Time f-l">
                            <strong>{{ days }}</strong>
                            <span>DAYS</span>
                        </div>
                        <h2 class="f-l">{{ title }}</h2>
                    </div>
                    <section>
                        <div class="Txt clearFix">
                             <div class="f-r tr-02" data-toggle="modal" data-target="#layer"><img src="{% static 'images//map.jpg' %}" alt="地图图片"></div>
                             <!--弹出框-->
                            <div role="dialog" class="modal fade" id="layer">
                                          <button type="button" class="close" data-dismiss="modal">
                                                         <span>弹出框&times;</span>
                                             </button>
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <div class="modal-body text-right">
                                                <img src="{% static 'images//map_max.jpg' %}" alt="地图图片">
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="f-l">
                                <h3>枸杞百科</h3>
                                <p>{{ baike }}</p>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="Txt">
                            <h3>旅游景点</h3>
                            {% for i in attraction_port %}
                            <p>{{ i }}</p>
                            {% endfor %}
                        </div>
                    </section>

                </div>
                <!-- 行程安排 -->
                <div class="List-Details-Div">
                    <div class="Photo"><img src="{{ MEDIA_URL }}{{ details.img }}" alt="详情图片"></div>
                    <div class="Title clearFix">
                        <div class="Time f-l">
                            <strong>{{ days }}</strong>
                            <span>DAYS</span>
                        </div>
                        <h2 class="f-l">{{ title }}</h2>
                    </div>
                    <div class=" List-Details-Distance">
                        {% for i in schedule %}
                        <section>
                            {% for key,value in i.items %}
                            <div class="Distance clearFix">
                                <div class="f-l">
                                    <span>{{ key }}</span>
                                </div>
                                <div class="f-r">
                                    {% for area in value %}
                                        <p>{{ area }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </section>
                        {% endfor %}
                    </div>
                </div>
                <!-- 注意事项 -->
                <div class="List-Details-Div List-Details-BeCareful">
                             <div class="Photo"><img src="{{ MEDIA_URL }}{{ details.img }}" alt="详情图片"></div>
                    <div class="Title clearFix">
                        <div class="Time f-l">
                            <strong>{{ days }}</strong>
                            <span>DAYS</span>
                        </div>
                        <h2 class="f-l">{{ title }}</h2>
                    </div>
                    <hr>
                    <section>
                        <div class="Center">
                                <section>
                                    {% for i in attraction %}
                                        <p>{{ i }}</p>
                                    {% endfor %}
                                </section>
                        </div>
                    </section>
                </div>
                <!-- 费用说明 -->
                <div class="List-Details-Div List-Cost-Distance">
                    <div class="Photo"><img src="{{ MEDIA_URL }}{{ details.img }}" alt="详情图片"></div>
                    <div class="Title clearFix">
                        <div class="Time f-l">
                            <strong>{{ days }}</strong>
                            <span>DAYS</span>
                        </div>
                        <h2 class="f-l">{{ title }}</h2>
                    </div>
                    <section>
                         <div class="Top">
                         <p>活动费用 以具体报名日期前的价格为准！！报名后2小时内支付费用全款后以收到短信提示为正式确认 ！！！</p>
                         </div>
                    </section>
                    <section>
                        <div class="Center">
                            <section>
                                {% for i in cost_state %}
                                    <p>{{ i }}</p>
                                {% endfor %}
                            </section>
                        </div>
                    </section>
                </div>
            </div>
            <div class="f-r">
                <table class="table">
                    <tr>
                        <th class="text-center">旅行日程</th>
                        <th class="text-center">编队</th>
                        <th class="text-center">报名状态</th>
                        <th class="text-center">价格</th>
                        <th class="text-center">&nbsp;</th>
                    </tr>
                    {% for tour in tours %}
                    <tr class="text-center">
                        <td>{{ tour.go_off }}~{{ tour.end_time }}</td>
                        <td>{{ tour.team_num }}队</td>
                        {% if tour.max_num == tour.now_num %}
                        <td class="color2">人满</td>
                        {% else %}
                        <td class="color1">报名</td>
                        {% endif %}
                        <td>￥{{ tour.price }}.00</td>
                        {% if tour.max_num == tour.now_num %}
                        <td><a href="JavaScript:;" class="btn btn-xs btn2">截止报名</a></td>
                        {% else %}
                        {% if request.user.is_authenticated %}
                        <td><a href="{% url 'order:add_order' %}?theme={{ theme_id }}&tour={{ tour.team_num }}" class="btn btn-xs">马上报名</a></td>
                        {% else %}
                        <td><a href="{% url 'login' %}" class="btn btn-xs">马上报名</a></td>
                        {% endif %}
                        {% endif %}

                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
<!-- /Contene -->
{% endblock %}
