{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}<title>长途旅行/悠悠蜗</title>{% endblock %}
{% block banner %}
    <!-- Swiper -->
    <div class="swiper-container header-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"> <img src="{% static 'images/banner1.jpg' %}"> </div>
            <div class="swiper-slide"> <img src="{% static 'images/banner2.jpg' %}"> </div>
            <div class="swiper-slide"> <img src="{% static 'images/banner2.jpg' %}"> </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next">
        	<img class="img1 tr-02" src="{% static 'images/banner_right.png' %}" alt="">
        	<img class="img2 tr-02" src="{% static 'images/banner_right_1.png' %}" alt="">
        </div>
        <div class="swiper-button-prev">
        	<img class="img1 tr-02" src="{% static 'images/banner_left.png' %}" alt="">
        	<img class="img2 tr-02" src="{% static 'images/banner_left_1.png' %}" alt="">
        </div>
    </div>
{% endblock %}
{% block content %}
    <div id="Contene" class="w-1180">
        <!--PC端显示-->
        <div class="List-Btn List-Btn1">
            <ul>
                <li>
                    <span>时间：</span>
                    {% for i in all_month %}
                        <a class="{% if month == i.key %}active{% endif %}" href="?month={{ i.key }}&area={{ area }}&days={{ days }}&price={{ price }}">{{ i.value }}</a>
                    {% endfor %}
                </li>
                <li>
                    <span>地区：</span>
                    {% for i in all_area %}
                        <a class="{% if area == i.id %}active{% endif %}" href="?area={{ i.id }}&month={{ month }}&days={{ days }}&price={{ price }}">{{ i.area }}</a>
                    {% endfor %}
                </li>
                <li>
                    <span>天数：</span>
                    {% for i in all_days %}
                        <a class="{% if days == i.key %}active{% endif %}" href="{{ target_url }}/?days={{ i.key }}&month={{ month }}&area={{ area }}&price={{ price }}">{{ i.value }}</a>
                    {% endfor %}
                </li>
                <li>
                    <span>价格：</span>
                    {% for i in all_price %}
                        <a class="{% if price == i.key %}active{% endif %}" href="?price={{ i.key }}&area={{ area }}&days={{ days }}&month={{ month }}">{{ i.value }}</a>
                    {% endfor %}
                </li>
            </ul>
        </div>
        <!--移动端显示-->
        <div class="List-Btn List-Btn2">
            <ul class="clearFix">
                <li class="f-l">
                             <span>时间：</span>
                    <select>
                      <option value="">全部</option>
                      <option value="">一月</option>
                      <option value="">二月</option>
                      <option value="">三月</option>
                      <option value="">四月</option>
                      <option value="">五月</option>
                      <option value="">六月</option>
                      <option value="">七月</option>
                      <option value="">八月</option>
                      <option value="">久月</option>
                      <option value="">十月</option>
                      <option value="">十一月</option>
                      <option value="">十二月</option>
                    </select>
                </li>
                <li class="f-l">
                             <span>天数：</span>
                    <select>
                      <option value="">全部</option>
                      <option value="">一天</option>
                      <option value="">二天</option>
                      <option value="">三天</option>
                      <option value="">三天以上</option>
                    </select>
                </li>
                <li class="f-l">
                    <span>价格：</span>
                    <select>
                      <option value="">全部</option>
                      <option value="">1000-2000</option>
                      <option value="">2000-3000</option>
                      <option value="">3000-5000</option>
                      <option value="">5000以上</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="List-title animated1">{{ location }}</div>
        <div class="List-Content">
            {% for vo in theme_list %}
            <div class="Content-Div clearFix animated1">
                <a class="f-l" href="{% url 'list_details' %}{{ vo.id }}"><img class="tr-02" src="/media/{{ vo.img }}" alt="旅游图片"></a>
                <div class="txt f-r">
                    <h2 class="clearFix">
                              <strong class="f-l">{{ vo.title }}</strong>
                              <div class="f-r"><strong>{{ vo.days }}</strong><span>DAYS</span></div>
                    </h2>
                    <ul>
                        <li>
                                 <span>行程</span>
                                 <strong>{{ vo.route }}</strong>
                        </li>
                        <li>
                                 <span>体力</span>
                                 <i class="Bg1 {% if vo.power >= 1 %}active{% endif %}"></i>
                                 <i class="Bg1 {% if vo.power >= 2 %}active{% endif %}"></i>
                                 <i class="Bg1 {% if vo.power >= 3 %}active{% endif %}"></i>
                                 <i class="Bg1 {% if vo.power >= 4 %}active{% endif %}"></i>
                                 <i class="Bg1 {% if vo.power == 5 %}active{% endif %}"></i>
                        </li>
                    </ul>
                    <p>{{ vo.describe }}</p>
                    <div class="Price clearFix">
                        <div class="f-l">
                            <sup>￥</sup>
                            <span>{{ vo.concrete_price}}</span>
                        </div>
                        <a class="f-r" href="{% url 'list_details' %}{{ vo.id }}">
                                               <i class="tr-02">→</i>
                                      <span class="tr-02">查看详情</span>
                                     </a>
                    </div>
                </div>
            </div>
            {% endfor %}
{#            页脚#}
            <div class="page">
                <ul>
                    <li class="page_num"><a href="#">上一页</a></li>
                    <li class="page_num"><a class="active_page" href="#">1</a></li>
                    <li class="page_num"><a href="#">2</a></li>
                    <li>...</li>
                    <li class="page_num"><a href="#">3</a></li>
                    <li class="page_num"><a href="#">4</a></li>
                    <li class="page_num"><a href="#">下一页</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
