{% extends 'details.html' %}

{% block title %}
    <title>历史订单/悠悠蜗</title>
{% endblock %}
{% block content %}
    <div id="Contene">
	<div class="Order">
		<div class="TopWra">
			<div class="Top w-1180 clearFix">
				<div class="f-l">我的订单</div>
				<div class="f-r">
					<a href="{% url 'order:order_new' %}" class="btn tr-02">当前订单</a>
					<a href="{% url 'order:order_his' %}" class="btn tr-02 active">历史订单</a>
					<a href="{% url 'order:my_info' %}" class="btn tr-02">我的信息</a>
				</div>
			</div>
		</div>
		<div class="Bottom  w-1180">
			<div class="History-Order">
				<ul class="History-Order-T clearFix text-center">
					<li class="f-l">路线</li>
					<li class="f-l">时间</li>
					<li class="f-l">状态</li>
				</ul>
                {% for order_man in content %}
				<div class="History-Order-F">
					<ul class="clearFix text-center">
						<li class="f-l">{{ order_man.order.title }}</li>
						<li class="f-l">{{ order_man.order.go_off }}-2017.05.10</li>
                        {% if order_man.order.status == 0 %}
						<li class="f-l">待付款</li>
                        {% elif order_man.order.status == 1 %}
						<li class="f-l">已支付</li>
                        {% elif order_man.order.status == 2 %}
						<li class="f-l">已取消</li>
                        {% endif %}
						<li class="f-l"><i class="tr-02"></i></li>

					</ul>
                       <div class="table-Wra">
                           <table>
                                </tr>
                                   <tr class="text-center">
                                    <td><span>订单号</span></td>
                                    <td><span>姓名</span></td>
                                    <td><span>人数</span></td>
                                    <td><span>金额</span></td>
                                </tr>
                               {% for man in order_man.man %}
                                <tr class="text-center">
                                    <td><span>{{ order_man.order.id }}</span></td>
                                    <td><span>{{ man.name }}</span></td>
                                    <td><span>1</span></td>
                                    <td><span>{{ order_man.order.price }}元</span></td>
                               {% endfor %}
                                </tr>
                                   <tr class="text-center">
                                    <td style="visibility: hidden"><span>订单号:</span></td>
                                    <td style="visibility: hidden"><span>姓名: </span></td>
                                    <td><span>总数：</span>{{ order_man.order.number }}</td>
                                    <td><span>总额：</span>{{ order_man.order.total }}元</td>
                                </tr>
                            </table>
                       </div>
				</div>
                {% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- /Contene -->
{% endblock %}
{% block custom_js %}
    <script>
        /*历史订单 下拉显示*/
    $('.Order .Bottom .History-Order-F').click(function(){
        $(this).siblings().removeClass('active').find('.table-Wra').slideUp();
        $(this).toggleClass('active').find('.table-Wra').slideToggle();
    });
    $('.Order .Bottom .History-Order-F .table-Wra').click(function(event){
        event.stopPropagation();
    });
    </script>
{% endblock %}