{% extends 'details.html' %}
{% block title %}
    <title>当前订单/悠悠蜗</title>
{% endblock %}
{% block content %}
    <div id="Contene">
	<div class="Order">
		<div class="TopWra">
			<div class="Top w-1180 clearFix">
				<div class="f-l">我的订单</div>
				<div class="f-r">
					<a href="{% url 'order:order_new' %}" class="btn tr-02 active">当前订单</a>
					<a href="{% url 'order:order_his' %}" class="btn tr-02">历史订单</a>
					<a href="{% url 'order:my_info' %}" class="btn tr-02">我的信息</a>
				</div>
			</div>
		</div>
		<div class="Bottom  w-1180">
			<div class="Order-table">
				<ul class="clearFix text-center">
					<li class="f-l">路线</li>
					<li class="f-l">时间</li>
					<li class="f-l">人数</li>
					<li class="f-l">总额</li>
					<li class="f-l">操作</li>
				</ul>
			</div>
            {% for order_man in content %}
			<div class="Order-Div-Wra">
				<div class="Order-table">
					<ul class="clearFix text-center">
						<li class="f-l"><input type="checkbox"/>{{ order_man.order.title }}</li>
						<li class="f-l">{{ order_man.order.go_off }}-{{ order_man.order.end_time }}</li>
						<li class="f-l num">{{ order_man.order.number }}</li>
						<li class="f-l total">￥<b>{{ order_man.order.total }}</b></li>
						<li class="f-l">
							<a href="#" class="pay">支付</a>
							<a href="#" class="cancel">退订</a>
						</li>
					</ul>
				</div>
				<!-- 订单 -->
                {% for man in order_man.man %}
				<div class="Order-Div man">
					<div class="head clearFix">
						<div class="f-l">
							<span>{{ man.name }}</span>
							<!-- <label><input type="checkbox" checked="checked" /><span>李大根</span> </label> -->
						</div>
						<!-- <div class="f-r">
							<a href="#" class="pay">支付</a>
							<a href="#" class="cancel">退订</a>
						</div> -->
					</div>
					<div class="Bod">
						<ul class="clearFix">
							<li class="f-l"><span>姓名:</span> {{ man.name }}</li>
                            {% if man.gender == '0' %}
							<li class="f-l"><span>性别:</span> 男</li>
                            {% else %}
							<li class="f-l"><span>性别:</span> 女</li>
                            {% endif %}
							<li class="f-l"><span>手机号: </span>{{ man.mobile }}</li>
							<li class="f-l"><span>邮箱: </span>{{ man.email }}</li>
                            {% if man.card_type == '0' %}
                                <li class="f-l"><span>证件类型: </span>身份证</li>
                            {% else %}
                                <li class="f-l"><span>证件类型: </span>护照</li>
                            {% endif %}
                            <li class="f-l"><span>证件号: </span>{{ man.card }}</li>
							<li class="f-l"><span>金额:</span> <b>{{ order_man.order.price }}</b></li>
							<!-- <li class="f-l"><span>未支付：</span>￥880</li> -->
						</ul>
					</div>
				</div>
				<!-- / 订单 -->
                {% endfor %}
                <div class="Order-Div">
					<div class="head clearFix">
						<div class="f-l">
							<span>其他</span>
						</div>
					</div>
					<div class="Bod">
						<ul class="clearFix">
							<li class="f-l"><span>订单号: </span>{{ order_man.order.id }}</li>
							<li class="f-l"><span>下单时间: </span>{{ order_man.order.add_date }}</li>
							<li class="f-l"><span>队伍编号: </span>{{ order_man.order.order_tours }}</li>
							<li class="f-l"><span>紧急联系人: </span>{{ order_man.order.contact }}</li>
							<li class="f-l"><span>紧急联系人手机号：</span>{{ order_man.order.contact_way }}</li>
                            {% if order_man.order.s_friend == '0' %}
							<li class="f-l"><span>睡友:</span> <b>有</b></li>
                            {% else %}
							<li class="f-l"><span>睡友:</span> <b>无</b></li>
                            {% endif %}
							<li class="f-l"><span>备注:</span> <b>{{ order_man.order.remark }}</b></li>
						</ul>
					</div>
				</div>
				<!-- / 订单 -->
			</div>
            {% endfor %}
			<div class="Order-Footer clearFix">
				<div class="f-l">
					<span>总价：￥<b>0</b></span>
					<span>已付：￥<b>0</b></span>
					<span>待付：￥<b>0</b></span>
				</div>
				<button type="button" class="btn f-r tr-02" style="margin-left:5px">取消订单</button>
				<button type="button" class="btn f-r tr-02">支付所选</button>
			</div>
		</div>
	</div>
</div>
<!-- /Contene -->
{% endblock %}
