{% extends 'details.html' %}
{% load staticfiles %}
{% block title %}
    <title>邮箱修改/悠悠蜗</title>
{% endblock %}
{% block content %}
    <div id="Contene">
	<div class="Order">
		<div class="TopWra">
			<div class="Top w-1180 clearFix">
				<div class="f-l">我的订单</div>
				<div class="f-r">
					<a href="Order_My.html" class="btn tr-02">当前订单</a>
					<a href="Order_My_B.html" class="btn tr-02">历史订单</a>
					<a href="Order_My_C.html" class="btn tr-02 active">我的信息</a>
				</div>
			</div>
		</div>
		<div class="Bottom  w-1180">
			<div class="Modify text-center">
				<form class="form">
                    {% csrf_token %}
					<ul class="text-right">
						<li>
							<strong>新的账户邮箱：</strong>
							<span><input class="txt-input1 tr-02 focus-input" type="text" name="email" autofocus="autofocus" /></span>
						</li>
						<li>
							<strong>邮箱验证码：</strong>
							<span>
								<input class="txt-input2 pull-left tr-02 focus-input" name="captcha" type="tel"/>
								<button type="button" class="btn btn1 send_email">发送邮件</button>
							</span>
						</li>
						<li>
							<span>
								<button type="submit" class="btn btn2 w-100">提 交</button>
							</span>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>
</div>
    <!-- /Contene -->
{% endblock %}
{% block custom_js %}
<script>
    $('.send_email').click(function () {
        console.log('点击');
        $.ajax({
            type: "POST",
            url:"{% url 'order:update_email' %}",
            data:$('.form').serialize(),
            success:function (data) {
                if(data['status'] == 'success'){
                    $('.send_email').text('验证码已发送')
                }else if(data['status'] == 'fail'){
                    alert('请输入正确的邮箱')
                }
            },
        });
    })
</script>
{% endblock %}
