{% extends 'details.html' %}
{% load staticfiles %}
{% block title %}<title>订单填写/悠悠蜗</title>{% endblock %}
{% block crumbs %}{% endblock %}
{% block content %}
    <div id="Contene" class="w-1180">
        <div class="Short-List-SignUp">
            <div class="Top">
                <a href="Orders_signup.html" class="active tr-02">1.填写信息</a>
                <a href="Short_List_SignUp_B.html" class="tr-02">2.支付</a>
                <a href="#" class="tr-02">3.报名成功</a>
            </div>
            <div class="SignUpDiv clearFix">
                  <div class="f-l">
                      <form action="">
                          <section>
                            <div class="section clearFix">
                                <h4>填写出行人信息</h4>
                                <div class="Common clearFix">
                                    <strong class="f-l">常用出行人：</strong>
                                    <div class="f-l">
                                        {% for  man in user_man %}
                                            <label><input type="checkbox" value="{{ forloop.counter|add:-1 }}" /><span>{{ man.name }}</span></label>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% for man in user_man %}
                                    <div class="Information" hidden="hidden">
                                        <div class="Top clearFix">
                                            <span class="f-l">{{ man.name }}</span>
                                            <div class="f-r">
                                                <a class="tr-02 button_edit" href="JavaScript:;" data-toggle="modal" data-target="#edit">编辑</a>
                                                <a class="tr-02 button_del" href="JavaScript:;">删除</a>
                                            </div>
                                        </div>
                                    <div class="Txt">
                                        <ul class="clearFix">
                                            <li class="f-l">真实姓名：<span>{{ man.name }}</span></li>
                                            {% ifequal man.gender '0' %}
                                            <li class="f-l">性别：<span>男</span></li>
                                            {% else %}
                                            <li class="f-l">性别：<span>女</span></li>
                                            {% endifequal %}
                                            <li class="f-l">出生日期：<span>1980-04-17</span></li>
                                            {% ifequal man.card_type '0' %}
                                            <li class="f-l">证件类型：<span>身份证</span></li>
                                            {% else %}
                                            <li class="f-l">证件类型：<span>护照</span></li>
                                            {% endifequal %}
                                            <li class="f-l">证件号：<span>{{ man.card }}</span></li>
                                            <!-- <li class="f-l">护照号码：<span>23213265</span></li> -->
                                            <li class="f-l">手机号：<span>{{ man.mobile }}</span></li>
                                            <li class="f-l">邮箱：<span>{{ man.email }}</span></li>
                                            <!-- <li class="f-l">保险：<span>赠送  平安保险--神州畅游 A款 </span></li> -->
                                        </ul>
                                    </div>
                                </div>
                                {% endfor %}
                                <button class="btn f-r" data-toggle="modal" data-target="#edit">添加出行人</button>
                            </div>
                          </section>
                          <section>
                               <div class="section2">
                                <h4>紧急联系人</h4>
                                <div class="text clearFix">
                                    <label class="f-l"><span>紧急联系人姓名</span><input class="focus-input" type="text"></label>
                                    <label class="f-r"><span>联系方式</span><input class="focus-input" type="tel" max="11"></label>
                                </div>
                               </div>
                        </section>
                          <hr>
                          <section>
                                   <div class="section3">
                                    <h4>睡友</h4>
                                    <div class="clearFix">
                                        <div class="f-l left-txt"><span>房间安排：</span></div>
                                        <div class="f-l right-radio">
                                            <label class="label-Click"><input type="radio" name="Fruit"checked="checked" value="0" /><span>随机安排与同性队员拼房</span> </label>
                                               <label class="label-Click"><input type="radio" name="Fruit" value="1" /><span>不！我有自己的睡友</span>  </label>
                                               <p class="section3-P active">旅行中的住宿通常为标间，稻草人不收取单房差，也不提供住单间预订服务，一个人来的小伙伴我们将为您找一位同性队员或随团工作人员拼房，有时为了调整房差会安排3人间；</p>
                                               <!-- <div class="section3-P clearFix">
                                                   <div class="f-l">
                                                    <span>姓名：</span>
                                                    <input type="text" class="focus-input">
                                                   </div>
                                                   <div class="f-r">
                                                    <span>手机号：</span>
                                                    <input type="tel" class="focus-input">
                                                   </div>
                                                   <textarea class="textarea focus-input" placeholder="请填写睡友"></textarea>
                                               </div> -->
                                        </div>
                                    </div>
                                   </div>
                        </section>
                          <hr>
                          <section>
                                   <div class="section4">
                                    <h4>过敏源&忌口</h4>
                                    <textarea class="textarea focus-input" placeholder="如果你有过敏源或者忌口请写在这里哦，这样我们的随团工作人员就可以知晓啦！"></textarea>
                                   </div>
                        </section>
                          <hr>
                          <section>
                                   <div class="section5">
                                    <h4>合同预览</h4>
                                    <p>提交报名前请仔细阅读以下合同条款，付款成功即表示同意并接受合同条款中所述内容，甲乙双方需按条款约定内容履行权利义务。付款成功后订单中会生成一份电子旅游合同供你存档，现场需签署一份纸质合同用于悠悠蜗存档。</p>
                                   </div>
                        </section>
                          <hr>
                          <section class="poa">
                                   <div class="section6">
                                    <label><input type="checkbox"/><span>我已阅读并同意 </span> </label>
                                    <a href="#" target="_Blank">旅游合同</a>
                                    <a href="#" target="_Blank">报名须知</a>
                                    <a href="#" target="_Blank">安全告知书</a>
                                   </div>
                                   <a href="Short_List_SignUp_B.html" class="btn tr-02 submit disabled">提交订单</a>
                        </section>
                      </form>
                      <!-- 添加出行人弹窗 -->
                      <div role="dialog" class="modal fade" id="edit">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                               <button type="button" class="close" data-dismiss="modal">
                                                <span>&times;</span>
                                               </button>
                                               <h4>填写出行人信息<span>（<i>*</i>为必填选项）</span></h4>
                                    </div>
                                    <div class="modal-body text-right">
                                        <form class="info">
                                            {% csrf_token %}
                                            <ul>
                                                <li>
                                                    <strong><i>*</i>姓&nbsp;&nbsp;&nbsp;名：</strong>
                                                    <span><input class="input-txt focus-input" type="text" name="name" autofocus="autofocus"></span>
                                                </li>
                                                <li>
                                                    <strong><i>*</i>姓&nbsp;&nbsp;&nbsp;别：</strong>
                                                    <span class="text-left">
                                                           <label>
                                                                  <input class="click" type="radio" value="0" name="gender" checked="checked"/>
                                                                  <span>男</span>
                                                           </label>
                                                           <label>
                                                                  <input class="click" type="radio" value="1" name="gender"/>
                                                                  <span>女</span>
                                                           </label>
                                                     </span>
                                                </li>
                                                <li>
                                                    <strong><i>*</i>手机号：</strong>
                                                    <span><input class="input-txt focus-input" type="text" name="mobile"></span>
                                                </li>
                                                <li>
                                                    <strong><i>*</i>邮&nbsp;&nbsp;&nbsp;箱：</strong>
                                                    <span><input class="input-txt focus-input" type="text" name="email"></span>
                                                </li>
                                                <li>
                                                    <strong><i>*</i>
                                                        <select class="select" name="card_type">
                                                        <option value="0">身份证</option>
                                                        <option value="1">护照</option>
                                                    </select>
                                                </strong>
                                                    <span><input class="input-txt focus-input" name="card" type="text"></span>
                                                </li>
                                                <li >
                                                    <input type="checkbox" name="status" value="0" checked="checked" hidden>
                                                     <span class="text-left"><label><input class="click userman" value="1" name="status" type="checkbox" /><span>同时保存为常用出行人</span> </label> </span>
                                                </li>
                                                <li>
                                                     <span class="text-left"><button type="button" class="btn add_userman " data-dismiss="modal">添加</button></span>
                                                </li>
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                     </div>
                      <!-- / 添加出行人弹窗 -->
                  </div>
                      <div class="f-r">
                        <div class="photo"><img src="{% static 'images/photo1.jpg' %}" alt="图片"></div>
                        <div class="txt clearFix">
                            <h3>一岛情迷，美丽枸杞</h3>
                            <p>2017-05-09 至 2017-05-10</p>
                            <div class="add">
                                <div class="clearFix"><span class="f-l">李大根</span><span class="f-r">￥880</span></div>
                                <div class="clearFix"><span class="f-l">李二根</span><span class="f-r">￥880</span></div>
                            </div>
                            <hr>
                            <strong class="f-r">合计：<span>￥1760</span></strong>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- /Contene -->
{% endblock %}
{% block custom_js %}
    <script>
    $(".add_userman").click(function () {
        console.log(1);
        $.ajax({
            type: "POST",
            url: "{% url 'order:add_order' %}",
            data: $(".info").serialize(),
            success: function(data) {
                    {#console.log(data)#}
                    if(data["status"]== 'success'){
                        $("div.section").children('div:last').after('<div class="Information" style="display:block"><div class="Top clearFix"><span class="f-l"></span><div class="f-r"><a class="tr-02 button_edit" href="JavaScript:;" data-toggle="modal" data-target="#edit">编辑</a><a class="tr-02 button_del" href="JavaScript:;">删除</a></div></div><div class="Txt"><ul class="clearFix"><li class="f-l">真实姓名：<span>李大根</span></li><li class="f-l">性别：<span>女</span></li><li class="f-l">证件类型：<span>身份证</span></li><li class="f-l">证件号：<span>362523199204170818 </span></li><!-- <li class="f-l">护照号码：<span>23213265</span></li> --><li class="f-l">手机号：<span>13302580258</span></li><li class="f-l">邮箱：<span>18507317473@163.com</span></li><!-- <li class="f-l">保险：<span>赠送  平安保险--神州畅游 A款 </span></li> --></ul></div></div>')
                        var man = data["info"]
                        var name= $("div.Information:last").children('.Top').find('span').text(man['name'])
                        var u_name= $("div.Information:last").children('.Txt').find('span').eq(0).text(man['name'])
                        var gender= $("div.Information:last").children('.Txt').find('span').eq(1).text(man['gender'])
                        var card_type= $("div.Information:last").children('.Txt').find('span').eq(2).text(man['card_type'])
                        var card= $("div.Information:last").children('.Txt').find('span').eq(3).text(man['card'])
                        var mobile= $("div.Information:last").children('.Txt').find('span').eq(4).text(man['mobile'])
                        var email= $("div.Information:last").children('.Txt').find('span').eq(5).text(man['email'])
                    }else if(data["status"] == 'fail'){
                        console.log(data["status"],data["info"])
                        alert("出行人添加失败")
                    }
                },
            }
        );
    })
</script>
{% endblock %}
